<div class="example-label">Icon</div>
<div class="example-button-row">
  <div class="example-flex-container">
    <button mat-icon-button aria-label="three dot icon">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-icon-button  aria-label="home icon">
      <mat-icon color="primary">home</mat-icon>
    </button>
    <button mat-icon-button aria-label="menu icon">
      <mat-icon color="accent">menu</mat-icon>
    </button>
    <button mat-icon-button  aria-label="heart icon">
      <mat-icon color="warn">favorite</mat-icon>
    </button>
    <button mat-icon-button disabled aria-label="Tab icon">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
</div>

<div class="container">
  <div class="item" *ngFor="let icon of filteredIcons">
    <mat-icon style="font-size: 40px" [matTooltip]="icon">{{icon}}</mat-icon>
  </div>
</div>
