<div *ngIf="loading">Loading...</div>
<div *ngIf="!loading">
  <div>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by country name" />
  </div>
  <div class="country-grid">
    <div class="country-card" *ngFor="let country of getPaginatedCountries()">
      <img [src]="country.flag" alt="Flag" />
      <div class="card-body">
        <h5 class="card-title">{{ country.name }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Code: {{ country.alpha3Code }}</li>
          <li class="list-group-item">Capital: {{ country.capital }}</li>
          <li class="list-group-item">Region: {{ country.region }}</li>
          <li class="list-group-item">Area: {{ country.area }}</li>
          <li class="list-group-item">Currency: {{ getCurrencyNames(country) }}</li>
          <li class="list-group-item">Languages: {{ getLanguageNames(country) }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Prev</button>
    <button *ngFor="let page of getPaginationRange()" (click)="goToPage(page)" [class.active]="currentPage === page">
      {{ page }}
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === getTotalPages()">Next</button>
  </div>
</div>