<header>
  <div class="container">
    <a routerLink="/" class="logo">CoolApp</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/list">List</a></li>
        <li><a routerLink="/test-page">Modal</a></li>

      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>


<div class="credits">
  <p>
    <a href="https://github.com/anu1996/" target="_top1">Angular 8 - Custom Modal Window / Dialog Box By Anu</a>
  </p>
  <p>
    <a href="http://e-shopper-online.com/" target="_top2">e-shopper-online.com By Anu</a>
  </p>
</div>
