<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
  function myFunction() {
    var x = document.getElementById("i");
    if (x.innerHTML === "") {
      x.innerHTML = "Swapped text!";
    } else {
      x.innerHTML = "";
    }
  }
</script>
</head>
<a mdbBtn floating="true" size="lg" gradient="purple" mdbWavesEffect>
  <mdb-icon fas icon="bolt"></mdb-icon>
</a>
<a mdbBtn floating="true" gradient="peach" mdbWavesEffect>
  <mdb-icon fas icon="leaf"></mdb-icon>
</a>
<a mdbBtn floating="true" size="sm" gradient="blue" mdbWavesEffect>
  <mdb-icon fas icon="star"></mdb-icon>
</a>
<h3>Welcome!</h3>

<div class="play-container">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The click counter <strong>IS GREATER</strong> than 4.</p>
    </ng-template>

    <ng-template #none>
        <p>The click counter is <strong>not greater</strong> than 4.</p>
    </ng-template>
</div>

  <div class="grid"> <h3>Hello</h3>
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
   </div>

  <div class="grid"> <h3>Hello</h3>
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
   </div>

  <div class="grid"> <h3>Hello</h3>
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
   </div>

   <br><br>
  <div class="grid"> <h3>Hello</h3>
    <label for="checkbox">
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    <p></p></label>
   </div>
<br> <br>

<div class="profile-div">
  <div class="header">
  <label for="checkbox">
   <img src="http://i.imgur.com/BdHAZdS.png" alt=""></label>
       <input id="checkbox" type="checkbox"/>
       <p><input type="text" placeholder="Add a description about">
       </p>
  </div>

  <button mdbBtn floating="true" size="lg" color="red" class="waves-light" mdbPageScroll href="#top-section" mdbWavesEffect
          style="right:35px; bottom:35px;">
    <mdb-icon fas icon="arrow-up"></mdb-icon>
  </button>

 </div>
